/*reset some styles for more comfortable layout*/

* {
    margin: 0;
    padding: 0;
}


/* Main stylesheets*/

body {
    width: 100%;
    /* растянуть на всю высоту экрана */
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(231, 231, 231);
    display: flex;
    justify-content: center;
    align-items: center;
}

.underLineWord {
    letter-spacing: 10px;
}

.numOfAttempt {
    margin-top: 10px;
}

.mainCont_game,
.mainCont_game>form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10px;
}

.gameForm>button,
.reloadForNewGame {
    margin-top: 10px;
    height: 40px;
    width: 120px;
    background-color: rgb(221, 170, 107);
    border: none;
    border-radius: 5px;
}

.gameForm>input {
    margin-top: 10px;
}

.nameOfHeader {
    font-family: 'Rubik Mono One', sans-serif;
}

.gameForm {
    text-transform: uppercase;
}

.outputOther {
    width: 250px;
    height: 50px;
    margin-top: 20px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}